/* Write your code here: */
h1,h2{
    color: blueviolet;
}
.box > p{
    color: firebrick;
}
.box li{
    color: hotpink;
}
li.done{
    color: seagreen;
}

ul p.done{
    font-size: 0.5rem
}

#parent{
    height: 300px;
    width: 300px;
    background-color: green;
}

#child {
    height: 50px;
    width: 50px;
    position: static;
}